.asideNav
    position: absolute
    display: block
    top: 120px
    right: 40px
    width: 100%
    max-width: 240px
    border-radius: 8px
    background-color: $card-color
    transition: ease all 0.2s

    @media screen and (max-width: 1740px)
        right: -240px

    &__show-btn
        display: none
        width: 20px
        height: 20px
        background-color: $link-color
        border: none
        position: absolute
        left: -20px
        @media screen and (max-width: 1740px)
            display: block

    &__name
        padding: 24px
        width: 100%
        border-bottom: 1px solid $line-color
    
    &__list
        list-style: none
        padding: 16px 0
    
    .item
        padding: 8px 24px
        transition: ease all 0.2s
        &:hover
            opacity: 0.5
        
        a
            color: $text-color
            text-decoration: none
            display: flex
            align-items: center

        &__status
            display: inline-block
            width: 12px
            height: 12px
            margin-right: 8px
            border-radius: 32px
            background-color: $unknown-color
            
            &.works
                background-color: $positive-color
            &.notWorks
                background-color: $negative-color