.asideNav
    position: absolute
    display: block
    top: 120px
    right: 40px
    width: 100%
    max-width: 240px
    border-radius: 8px
    background-color: $card-color
    transition: ease all 0.2s

    &.shown
        right: 40px
        box-shadow: 0 4px 8px $shadow-color

    @media screen and (max-width: 1740px)
        right: -240px
        position: fixed

    &__show-btn-container
        top: 0
        left: 0
        position: absolute
        transform: rotate(-90deg)
        height: 1px
        width: 1px

    &__show-btn
        top: -22px
        left: -72px
        position: absolute
        display: none
        width: 72px
        height: 22px
        text-align: center
        color: $text-color-inverted
        font-size: 12px
        background-color: $link-color
        border: none
        cursor: pointer
        transition: ease all 0.2s
        
        &:hover
            opacity: 0.7
        
        border-radius: 4px 4px 0 0
        @media screen and (max-width: 1740px)
            display: block

    &__content
        overflow-y: auto
        max-height: 70vh
        width: fit-content

    &__name
        padding: 24px
        width: 100%
        border-bottom: 1px solid $line-color
    
    &__list
        list-style: none
        padding: 16px 0
    
    .item
        padding: 8px 24px
        transition: ease all 0.2s
        &:hover
            opacity: 0.5
        
        a
            color: $text-color
            text-decoration: none
            display: flex
            align-items: center

        &__status
            display: inline-block
            width: 12px
            height: 12px
            margin-right: 8px
            border-radius: 32px
            background-color: $unknown-color
            
            &.works
                background-color: $positive-color
            &.notWorks
                background-color: $negative-color