.empty
    display: flex
    flex-direction: column
    width: 50%
    background-color: $empty-color
    border-radius: 0.5rem
    padding: 2rem
    margin: 0 auto

    &__text
        font-size: 1rem
        margin-top: 0.5rem

    &__button
        margin-top: 1rem