.main
    @include container
    @media screen and (max-width: 768px)
        margin-bottom: 2rem

    &__top
        display: flex
        justify-content: space-between
        margin: 4rem 0 2.5rem
        align-items: flex-end

        .location
            display: block
            margin: 0 0 8px
            font-size: 1rem
            line-height: 120%
            color: $text-color-light

        .buttonWrapper
            display: flex
            justify-content: end
            flex-wrap: wrap
            @media screen and (max-width: 768px)
                position: fixed
                z-index: 9
                bottom: 0
                left: 0
                width: 100vw
                justify-content: space-between
                flex-wrap: nowrap
                background: $card-color
                box-shadow: 0 -2px 12px $shadow-color
            
            .button
                margin-left: 8px
                @media screen and (max-width: 768px)
                    width: 50%
                    margin-left: 0
                    border-radius: 0
                    height: initial
                    padding: 8px